/* color palette neutral/soft pink, sharp small shaddow
simple layout, sharp font, add tech photo*/


body {
	font-family: 'Nanum Gothic', sans-serif;
	background-color:#E2DEF3FF;
	color: white;
}

.header-wrapper {
	
	max-height: 1200px;
	margin:0 auto;
	padding: 15px 20px;
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "portrait intro intro";
	color: white;
}	

.portrait img {
	grid-area: portrait;
	width: 170px;
	height: 170px;
	border-radius: 85px;
	filter:brightness(1.1) contrast(1.2);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0,.25);
	
} 

.intro{ 
	grid-area: intro;
	padding: 0 10px ;
	border-width: 1px;
	font-size: 20px;
	color: #494949FF;
	}

.intro h1 {
	font-family: 'Lora', serif;
	font-size: 50px;
	padding: 0;
	margin: 0;
	text-shadow: rgb(255, 127, 128) 1px 1px,
    rgb(255, 127, 128) 2px 2px,
    rgb(255, 127, 128) 3px 3px,
    rgb(255, 127, 128) 4px 4px,
    rgb(255, 127, 128) 5px 5px;

}

/*main content styling*/

.main-wrapper{
	
	max-width: 1200px;
	margin: auto;
	
	
}

.wrapper {
	
	max-width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 10px;
	grid-template-areas:
	"about workshop workshop" 
	"profil firsttry firsttry"
	"contact contact contact";

}


/*about me section*/
.about-me{
	grid-area: about;
	padding: 20px;	
	box-shadow: 0 0 4px rgba(0,0,0,.25);
	border-radius: 2px;
	background-color: #FF7F80FF;
}

.about-me h4 {
	font-family: 'Lora', serif;
	font-size: 20px;
	text-transform: uppercase;
	color: #494949FF;
}

/* contact section*/
.contact{
	grid-area: contact;
	padding: 20px;
	box-shadow: 0 0 4px rgba(0,0,0,.25);
	border-radius: 2px;
	background-color: #FF7F80FF;
	
	

}
.contact h4{
	font-family: 'Lora', serif;	
	font-size: 20px;
	text-transform: uppercase;
	color: #494949FF;
}

/*profil section*/
.profil-wrapper{ 
	grid-area:profil;
	box-shadow: 0 0 4px rgba(0,0,0,.25);
	padding: 20px;
	border-radius: 2px;
	background-color: #FF7F80FF;
	color: #494949FF;
	
		
}

.profil-wrapper h4 {
	font-family: 'Lora', serif;
	font-size: 20px;
	text-transform: uppercase;
	margin: 10px;
}
.profil-wrapper ul li{
	list-style-type: none;
}
.profil-wrapper a {
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .1em;
	font-weight: bold;
	padding: 10px;
	color: white;	
}

a:hover {
  color: hotpink;
  cursor: pointer;
  }

/*project section*/

.workshop{
	grid-area: workshop;
	padding: 20px;
	box-shadow: 0 0 4px rgba(0,0,0,.25);
	border-radius: 2px;
	background-color: #FF7F80FF;
	color: white;
	}

.workshop img {
	width: 500px;
	height: 300px;
}

.workshop h4 {
	font-family: 'Lora', serif;
	font-size: 20px;
	text-transform: uppercase;
	margin: 10px;
	color: #494949FF;
}

.first-try {
	grid-area: firsttry;
	padding: 20px;
	box-shadow: 0 0 4px rgba(0,0,0,.25);
	border-radius: 2px;
	background-color: #FF7F80FF;
	color: #494949FF;

}
	
.first-try img {
	width: 500px;
	height: 300px;
	}

.first-try h4{
	font-family: 'Lora', serif;
	font-size: 20px;
	text-transform: uppercase;
	margin: 10px;
}
/*footer*/
footer{
	display: grid;
	color: #eee;
	background-color:#353535FF;
   	margin:auto;
	grid-template-columns:minmax(20px,300px); 
	justify-content: center;
	grid-template-rows: 1fr 1fr;

}


/*tablet media query*/
@media screen and (max-width:950px){
	.wrapper{
		grid-template-areas: 
		"about profil contact"
		"workshop workshop workshop"
		"firsttry firsttry firsttry";
	}
	.intro{
		grid-column: 1/5;
		text-align: center;

	}
	.portrait{
		grid-column: 1/5;
		text-align: center;
	}
	.header-wrapper{
		margin-top: 0;
		grid-gap: 5px;
	}
}

/* mobile media query*/
@media screen and (max-width:690px){
	.portrait{
		grid-column: 1/5;
		text-align: center;
		
	}
	.intro{
		grid-column: 1/5;
		text-align: center; 
	}
	.header-wrapper{
		margin-top: 0;
		padding: 0;
	}
	.wrapper{
		grid-template-areas: 
		"about about about " 
		"profil profil profil" 
		"workshop workshop workshop" 
		"firsttry firsttry firsttry"
		"contact contact contact" ;
	}
	.workshop img {
	width: 640px;
	height: 320px;
	}
	.first-try img {
	width: 500px;
	height: 300px;
	}
	
}

